.conteudo {
  padding: 10px 30px;
  overflow-y: scroll;
}

.conteudo .titulo {
  color: #72848c;
  font-weight: 400;
  /* text-transform: uppercase; */
  margin: 0px 0px 15px 0px;
}

.container .erro {
  color: #f43a59;
  font-size: 1.2rem;
  padding-left: 20px;
}
